.section__about {
    background-color: $color-grey-light-1;
    padding: 12rem 0 7rem 0;
    margin-top: -8.5rem;
}

.section__card {
    background-color: #304151;                    
    padding: 6rem 0;
}

.section__pages {
    background-color: $color-grey-light-1;

    position: relative;
}

