.composition {
    position: relative;

    &__photo {
        width: 55%;
        box-shadow: 0 1rem 2rem rgba($color-black, .9);
        position: absolute;
        outline-offset: 1rem;
        transition: all .3s;
        border-radius: 3px;

        &--p1 {
            top: -2rem;
            left: 0;
        }

        &--p2 {
            top: 2rem;
            right: 0;
        }

        &--p3 {
            top: 10rem;
            left: 20%;
        }

        &:hover {
            transform: scale(1.2);
            z-index: 1;
            box-shadow: 0 2rem 4rem rgba($color-black, .9);
            outline: 2px solid $color-grey-dark;
        }
    }

    &:hover &__photo:not(:hover) {
        transform: scale(.9);
    }
}