%heading {
    font-family: $font-display;
    font-weight: 400;
}

.heading-1 {
    @extend %heading;
    font-size: 4.5rem;
    color: $color-white;
}

.heading-2 {
    @extend %heading;
    font-size: 3rem;
    color: $color-grey-dark-2;
}

.heading-3 {
    @extend %heading;
    font-size: 1.6rem;
    color: $color-primary-dark;
    text-transform: uppercase;
}

.heading-4 {
    @extend %heading;
    font-size: 2rem;
    color: $color-grey-dark-2;
}

.btn {
    font-size: 1.6rem;
    font-family: $font-display;
    padding: 1.5rem 2rem;
    background-color: $color-primary-dark;
    border: none;
    text-transform: uppercase;

    &:hover {
        cursor: pointer;
        background-color: $color-primary;
    }
}

.mb-sm {margin-bottom: 2rem;}