.row {
    max-width: $max-width;
    margin: 0 auto;

    [class^="col-"] {
        float: left; 
    }

    @include clearfix;

    .col-1-of-2 {
        width: calc((100% - #{$gutter-horizontal}) / 2);

        &:not(:last-child) {
            margin-right: $gutter-horizontal;
        }
    }

    .col-1-of-5 {
        width: calc((100% - #{$gutter-horizontal}) / 5);

        &:not(:last-child) {
            margin-right: 4rem;
        }
    }

    .col-2-of-5 {
        width: calc(2 * ((100% - #{$gutter-horizontal-2}) / 5) + #{$gutter-horizontal});

        &:not(:last-child) {
            margin-right: 4rem;
        }
    }
}
