$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-dark-blue: #12232E;
$color-light-blue: #007CC7;

$color-secondary-light: #51B6BD;
$color-secondary-dark: #2273A2;

$color-grey-light-1: #f7f7f7;

$color-grey-dark: #777;
$color-grey-dark-2: #999;

$color-black: #333;

$color-white: #fff;

$max-width: 114rem;
$gutter-horizontal: 6rem;
$gutter-horizontal-2: 36rem;


